article {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: center;

  margin: 200px 0;
}
article p {
  font-size: 2em;
}
.home-png {
  width: 20px;
}
.article-Links {
  margin-top: 40px;
  background-color: #ece9e9;
  border-radius: 10px;
  color: black;
  font-size: 1.3em;
  padding: 7px;
}
.article-div-Links a {
  color: black;
  font-size: 1.3em;
}

.div-article-links {
  margin-top: 20px;
}

.article-Links:hover {
  background-color: #57534e;
  color: white;
}
