body {
  background-color: #ececec !important;
}

#carrito-container {
  margin: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#carrito-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
  padding-top: 20px;
}

.rowa {
  --bs-gutter-x: 0;
  border: 1px solid #cccccc66;
  margin: 10px;
}

main {
  text-align: center;
}

.items-carrito {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  width: 100% !important;
}

.img-item-carrito {
  width: 100px;
  height: 150px;
  box-shadow: 0 0 10px #000;
}

.cantidad-item-container {
  display: flex;
  align-items: center;

}

.cantidad-item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffa24c;
}

.tacho {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('../../imgs/tacho.png');
  background-size: cover;
}

.tacho:hover {
  width: 30px;
  height: 30px;
  scale: 1.1;
  background-image: url('../../imgs/tacho-red.png');
}

#envio-section {
  padding: 40px;
  margin: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-total {

  padding: 40px;
  margin: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#envio-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

#envio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.envio-data {
  font-size: 15px;
  margin: 20px;
  color: #8a8a8a;
}

.envio-data-clickable {
  font-size: 15px;
  color: #ffa24c;
  cursor: pointer;
  text-decoration: underline;
}

#opciones-envio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}

.envio-opcion {
  margin: 0 20px;
  width: 125px;
  height: 125px;
  border: 1px solid #8a8a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  color: #8a8a8a;
}

.envio-opcion:hover {
  border: 3px solid #ffa24c;
}

.envio-opcion-dinero {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

#total-text {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: right;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.mas:hover,
.menos:hover {

  color: #ffa24c;
}

.mas {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menos {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-carrito {
  padding: 0;
  margin: 0;
}

@media (max-width: 992px) {
  #carrito-container {
    margin: 10px;
    background-color: #fff;
  }

  .col-carrito {
    padding: 10px;
  }

  .container-total {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  .rowe {

    flex-direction: column !important;
  }

  .item-carrito {
    flex-direction: column;
    align-items: center;

  }

  .cantidad-item-container {
    justify-content: center;
  }

  #envio-container {
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
  }

  #envio-section {
    margin: 10px;
    padding: 10px;
  }

  #opciones-envio {
    margin: 10px;
  }

  .envio-opcion {
    margin: 5px;
  }
}